{% extends 'base.html' %}
{% block title %}Thank You!{% endblock %}
{% block content %}
<section class="confirmation">
    <header class="main">
        <h1>Thank You!</h1>
    </header>
    <div class="content">
        <p>Your information has been received. We appreciate your interest in working with (or joining) our network of former federal professionals.</p>
        <p>Our team will review your submission and contact you within 3-5 business days with next steps.</p>
        <a href="/" class="button">Return to Home</a>
    </div>
</section>
{% endblock %}
